*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000000;
    color: #fff;
}

.sidebar {
    height: 100%;
    width: 250px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Say at the left */
    background: #054928;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
}
  
/* The navigation menu links */
.sidebar a {
    padding: 5px 1px 1px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #cbcbcb;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: red; 
}

/* Style page content */
.feed {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 20px 20px;

}


.post {
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
}

.post_images {
    display: flex;
    /* width: 100%;
    height: 100%; */
    /* background-color: #818181; */
}

.main_image {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}

.secondary_images {
    flex: 1;
    display: grid;
    grid-template-columns: auto 5px auto;
    grid-template-rows: auto 5px auto;
    padding-left: 5px;
}

.sub_img {
    border-radius: 10px;
    overflow: hidden;
}

img {
    display: block;
    max-width:100%;
    max-height:100%;
}

.info_bar {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 10%;
    background-color: ;
}

.profile_img {
    flex: 2;
    max-width: 75px;
}

.author_text {
    flex: 2;
    padding: 10px;
}

.artwork_name {

}

.author_name {

}

.work_description {
    flex: 6;
    padding: 10px;
    margin: auto;
}

.rule {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}


h3 {
    font-style: normal;
    color: #ffffff;
}

p {
    color: #ffffff;
}


h1 {
    color: #ffffff;
}
